<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body class="grey_bg">

    <%- include('navbar.ejs') %>

    <!-- <%= JSON.stringify(글목록) %> -->

    <div class="list_container_wrapper">

        <% for (let i = 0 ; i < 글목록.length ; i++) { %>
            <div class="list_container">
                <h4 class="list_title">
                    <a href="/detail/<%= 글목록[i]._id %>">
                        <%= 글목록[i].title %>
                    </a>
                </h4>
                <p class="list_content"><%= 글목록[i].content %></p>
                <a href="/edit/<%= 글목록[i]._id %>">✏️수정하기</a>
            </div>
        <% } %>

        <!-- <div class="list_container">
            <h4 class="list_title"><%= 글목록[1].title %></h4>
            <p class="list_content"><%= 글목록[1].content %></p>
        </div>

        <div class="list_container">
            <h4 class="list_title">글제목임</h4>
            <p class="list_content">글내용임</p>
        </div>

        <div class="list_container">
            <h4 class="list_title">글제목임</h4>
            <p class="list_content">글내용임</p>
        </div> -->

    </div>

</body>
</html>